* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: $size-m;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $canvas-gray;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, 230px) auto;
    max-width: 860px;
    height: 100%;
    margin: 0 auto;
}