.task_Panel {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 15px 40px;
    background-color: #fff;
    box-shadow: $border-shadow;

    .task_Panel_title {
        font-size: $size-xs;
        font-family: $main-font;
        cursor: default;
    }

    .task_Panel_text {
        height: 93px;
        padding: 5px;
        outline: none;
        font-family: $main-font;
        font-size: $size-m;
        resize: none;

        &.alert {
            border-color: $task-delete;
        }
    }

    .addTaskBtn {
        align-self: flex-end;
        width: 85px;
        height: 38px;
        margin: 15px 0 21px 0;
        color: $task-field-color;
        background-color: $task-done;
        border: none;
        border-radius: 25px;
        outline: none;
        cursor: pointer;
        transition: background-color .2s;

        &.alert {
            background-color: $task-delete;
        }

        &:hover {
            background-color: $theme-green;
            animation: rubberBand 1s;
        }
    }
}