.todo_single-task {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 100px;
    margin-top: 15px;
    font-family: $main-font;
    border-bottom: $border;

    .single_task_content {
        position: relative;
        width: 60%;
        height: 80%;
        margin-bottom: 20px;

        .task_date {
            margin-left: 20px;
            margin-bottom: 10px;
            font-size: $size-xs;
            font-weight: $light-weight;
        }

        .task_text {
            margin-left: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            min-height: 80px;
            height: 100%;
            width: 5px;
            background-color: $theme-purple;
        }
    }

    .task_Icons {
        align-self: center;
        display: flex;
        justify-content: space-between;
        width: 15%;
        margin-bottom: 20px;

        .icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            transition: .2s;
        }

        .icon-edit {
            background-image: url("data:image/svg+xml, #{$icon-edit}");
            background-size: cover;

            &:hover {
                background-image: url("data:image/svg+xml, #{$hover-icon-edit}");
                transform: scale(1.4);
                cursor: pointer;
            }
        }

        .icon-done {
            background-image: url("data:image/svg+xml, #{$icon-done}");
            background-size: cover;

            &:hover {
                background-image: url("data:image/svg+xml, #{$hover-icon-done}");
                transform: scale(1.4);
                cursor: pointer;
            }
        }

        .icon-delete {
            background-image: url("data:image/svg+xml, #{$icon-delete}");
            background-size: cover;

            &:hover {
                background-image: url("data:image/svg+xml, #{$hover-icon-delete}");
                transform: scale(1.4);
                cursor: pointer;
            }
        }
    }
}

// Task Done Effects
.todo_single-task.done {
    background-color: rgba($theme-green, $alpha);
    border-bottom: $theme-green;
    animation: pulse .5s;

    &:last-child {
        .icon-done {
            background-image: url("data:image/svg+xml, #{$hover-icon-done}");
            transform: scale(1.6);
        }
    }

    .single_task_content {
        .task_date {
            padding-top: 5px;
        }

        &::before {
            background-color: $theme-green;
        }
    }
}